<!--
 Excerpted from "Agile Web Development with Rails, 4th Ed.",
 published by The Pragmatic Bookshelf.
 Copyrights apply to this code. It may not be used to create training material, 
 courses, books, articles, and the like. Contact us if you are in doubt.
 We make no guarantees that this code is fit for any purpose. 
 Visit http://www.pragmaticprogrammer.com/titles/rails4 for more book information.

 日本語版については http://ssl.ohmsha.co.jp/cgi-bin/menu.cgi?ISBN=978-4-274-06866-9
-->
<!DOCTYPE html>
<html>
<head>
  <title>Pragprog Booksオンラインストア</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %>">
  <div id="banner">
    <%= form_tag store_path, class: 'locale' do %>
      <%= select_tag 'set_locale', 
        options_for_select(LANGUAGES, I18n.locale.to_s),
        onchange: 'this.form.submit()' %>
      <%= submit_tag 'submit' %>
      <%= javascript_tag "$('.locale input').hide()" %>
    <% end %>
    <%= image_tag("logo.png") %>
    <%= @page_title || t('.title') %>
  </div>
  <div id="columns">
    <div id="side">
      <% if @cart %>
        <%= hidden_div_if(@cart.line_items.empty?, id: 'cart') do %>
          <%= render @cart %>
        <% end %>
      <% end %>
      <ul>
        <li><a href="http://www....">ホーム</a></li>
        <li><a href="http://www..../faq">よくある質問</a></li>
        <li><a href="http://www..../news">ニュース</a></li>
        <li><a href="http://www..../contact">お問い合わせ</a></li>
      </ul>

      <% if session[:user_id] %>
        <ul>
          <li><%= link_to '注文',   orders_path   %></li>
          <li><%= link_to '商品',   products_path %></li>
          <li><%= link_to 'ユーザ', users_path    %></li>
        </ul>
        <%= button_to 'ログアウト', logout_path, method: :delete   %>
      <% end %>
    </div>
    <div id="main">
      <%= yield %>
    </div>
  </div>
</body>
</html>
